img{
  width: 190px;
}


#navbarColor02{
  flex-basis: 0px;
  max-width: 100px;
}

 .dropdown-item, .navbar a,button{
  transition: 500ms;
}

.dropdown-item:hover{
  background-color: rgb(94, 105, 114);
  color: rgba(255, 236, 0, 1.00) !important;
}


.navbar a:hover{
  color: rgba(255, 236, 0, 1.00) !important;
}

.navbar button:hover{
  color: rgba(255, 236, 0, 1.00) !important;
}

.navbar-toggler, .navbar-toggler:focus{
  border: none;
  outline: none !important;
}








