<div class="footerContainer text-center text-light bg-dark py-1 mt-5">
  <ul>
   <li><a class="text-decoration-none text-light" href="#">Use and Sell Conditions</a></li>
   <li><a class="text-decoration-none text-light" href="#">Privacy notice</a></li>
   <li><a class="text-decoration-none text-light" href="#">Legal area</a></li>
   <li><a class="text-decoration-none text-light" href="#">Cookies</a></li>
   <li><a class="text-decoration-none text-light" href="#">Interest-based advertising</a></li>
  </ul>
</div>
