

<div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <form class="mx-5 my-5" #passwordForm="ngForm" (ngSubmit)="onUpdatePassword()">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              ngModel
              name="password"
              required
              password
              minlength="6"
              #password="ngModel"
              placeholder="Type your new password"
            />
            <small
            class="text-danger"
            *ngIf="password.errors?.minlength && password.touched"
            >Please, provide a password with at least 6 characters</small
          >
            <input
              type="password"
              class="form-control mt-2"
              id="passwordCopy"
              ngModel
              name="passwordCopy"
              required
              password
              minlength="6"
              #passwordCopy="ngModel"
              placeholder="Type your new password again"
            />
          </div>
          <small
            class="text-danger"
            *ngIf="
              password.control.value !== passwordCopy.control.value && passwordCopy.touched
            "
            >The passwords provided do not match</small
          >
          <button
          class="btn btn-primary"
          [disabled]="
          !passwordForm.valid || password.control.value !== passwordCopy.control.value
          "
          >
          Update Password
      </button>
  </form>
  </div>
  </div>
  </div>
  
  <div class="container d-flex flex-column justify-content-center text-success" *ngIf="isPasswordUpdated" >
      <h5 class="text-center">Password updated succesfully.</h5>
      <h6 class="text-center">Please log in again with the new password.</h6>
    </div>
  