.spinner-border {
  width: 5rem !important;
  height: 5rem !important;
  margin-top: 5rem;
  /* Enter your own width above */
}

  .container{
      width: auto !important;
  }

  


  img{
    width: 176px;
    height: 267px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.27);
  }