.accordion{
    width: 90vw;
}

.boton{
    font-size: 0.7rem;
}

.orderHeader{
    font-size: 0.8rem; 
}


.orderHeader > p{
    margin: 0; 
}

img{
    width: 50px; 
    height: 76px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.27);
}

.bookInfo > span{
   font-size: 0.8rem;
}

.author{
    font-size: 0.7rem;
}

.detailsInfo{
    font-size: 0.8rem;
}