img{
  height: 80px;
}

.cartBookInfo{
  margin-left: 12px;
  width: 100%;
}
.cartBookInfo p{
  margin: 0;
  line-height: 1rem;
  width: auto;

}

small{
  line-height: 0.2rem;
  margin-left: 3px;
}

.bookPrice{
  color: red;
  font-weight: 500;
}


.container{
  padding: 15px auto;
}


.bookContainer{
  height: 100px;
  background-color: rgb(248, 244, 244);
  border-radius: 20px;
  min-width:100%;
  margin-top: 15px;
}

.bookAmount{
  display: flex;
  justify-content: flex-end;
}



.genContainer{
  margin-top: 30px;
  max-width: 95%;

}

.totalBar{
  border: 2px solid rgba(229, 229, 229, 1.00);
  font-size: 0.85xem !important;
}




table{
  width: 100%;
}

@media screen and (max-width: 576px) {
  .totalBar{
    margin-top: 20px;
  }
}
