<div *ngIf="!isLoading">
  <app-address *ngIf="modal" (close)="onHandleClose()"></app-address>
  <div class="text-center mt-5" *ngIf="updatedServerCart.length === 0">
    <h1>The cart is empty</h1>
    <fa-icon class="fa-5x" [icon]="faFrown"></fa-icon>
  </div>
  <div class="genContainer container" *ngIf="updatedServerCart.length > 0">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
        <div
          *ngFor="let book of updatedServerCart"
          class="container bookContainer d-flex align-items-center mx-0"
        >
          <div>
            <img src="{{ book.cover }}" />
          </div>
          <div class="cartBookInfo">
            <div column="flex-fill">
              <p>
                <a [routerLink]="['/detail', book.id]"
                  ><strong> {{ book.title | stringShortener: 19 }}</strong></a
                >
              </p>
              <small> by {{ book.author }}</small>
            </div>
            <div>
              <small class="bookPrice"> {{ book.price }}€</small>
            </div>
          </div>
          <div class="container">
            <label for="amount">Amount:</label>
            <select
              class="custom-select custom-select-sm amountSelect"
              [(ngModel)]="book.cartAmount"
              (change)="onChange($event.target.value, book.cartId)"
              id="amount"
            >
              <option *ngFor="let number of amount">{{ number }}</option>
            </select>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 totalBar d-flex flex-column"
        *ngIf="primaryAddress"
      >
        <h4>
          <a data-toggle="collapse" data-target="#shippingCollapse"
            >Shipment Details
          </a>
        </h4>
        <h6>
          Ships to:
          <strong
            >{{ primaryAddress.postCode }} - {{ primaryAddress.city }}</strong
          >
          <small
            ><a [routerLink]="" type="button" (click)="onChangeAddress()"
              >(Change?)</a
            ></small
          >
        </h6>
        <div class="collapse" id="shippingCollapse">
          <span
            >{{ primaryAddress.firstName }} {{ primaryAddress.surname }}</span
          >
          <br />
          <span> {{ primaryAddress.address1 }} </span> <br />
          <div *ngIf="primaryAddress.address2; else noAddress2">
            <span> {{ primaryAddress.address2 }}</span>
            <br />
            <span
              >{{ primaryAddress.city }} {{ primaryAddress.postCode }} ({{
                primaryAddress.country
              }})</span
            >
          </div>
          <ng-template #noAddress2>
            <span
              >{{ primaryAddress.city }} {{ primaryAddress.postCode }} ({{
                primaryAddress.country
              }})</span
            >
          </ng-template>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-xl-3 totalBar d-flex flex-column"
      >
        <p class="text-justify mt-2">
          By completing your order you accept all our Conditions of Use. Please
          do check our Notice of privacy, our Notice of Cookies and our Notice
          of advertising based on the user's interests
        </p>
        <div>
          <hr />
          <div>
            <h4>Order summary</h4>
            <table>
              <tr>
                <td>Products:</td>
                <td class="text-right">{{ total }}</td>
              </tr>
              <tr>
                <td>Shipment:</td>
                <td class="text-right">0,00€</td>
              </tr>
            </table>
          </div>
          <h6 class="text-center">Total</h6>
        </div>
        <div class="flex-fill d-flex flex-column justify-content-end">
          <h4 class="text-center align-self-end text-success">{{ total }}€</h4>
        </div>
        <button class="btn btn-warning my-3">Buy Now!</button>
      </div>
    </div>
  </div>
</div>
