<h3 class="text-center mt-4">Welcome, {{userName}}</h3>

<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-xs-12">
      <h5>What do you want to do today?</h5>
      <ul class="list-group list-group-item-action mt-3">
          <li class="list-group-item list-group-item-action">
            <a>My Orders</a>
          </li>
        <li class="list-group-item list-group-item-action">
          <a>My Wishlist</a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a routerLink='../editAuthDetails'>Change e-mail</a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a routerLink='../editPassword'>Change password</a>
        </li>
        <li class="list-group-item list-group-item-action">
          <a (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
