<h4 class="text-center mt-4" *ngIf="loadingBook">Loading Book ...</h4>

<div *ngIf="loadedBook" class="bookContainer container  mt-5">
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 d-flex justify-content-center"
    >
      <img
        src="{{loadedBook.cover}}"
        class="img-fluid text-center  mb-2"
      />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-6 d-flex flex-column order-md-2 order-lg-1 mt-1"
    >
      <div class="mt-1 ">
        <div class="bookInfo">
          <h6 class="mb-0">{{loadedBook.title}}</h6>
          <small class="lowLineHeight">by <a href="#">{{loadedBook.author}}</a></small>
        </div>
        <hr>
        <div class="bookSummary mt-3">
          <p class="text-justify">
            {{loadedBook.summary}}
          </p>
            <p *ngIf="!loadedBook.summary">No summary available</p>
        </div>
      </div>
    </div>
    <div
      class="buttonsMenu col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-flex flex-column justify-content-center order-md-1 order-lg-2 bg-light "
    >
      <div class="text-center smallerText">
        <p class="text-danger mb-0 mt-2">5€</p>
        <p>Final product price</p>
        <h6 class="text-danger" *ngIf="!loadedBook.stock">Out of stock</h6>
        <h6 class="text-success" *ngIf="loadedBook.stock > 5">In stock</h6>
        <h6 class="text-warning" *ngIf="loadedBook.stock < 5">Only {{loadedBook.stock}} units in stock</h6>
        <p>Free delivery next Sunday. <a href="#">See details</a></p>
      </div>
      <hr>
      <div class="text-center">
        <button class="btn btn-primary w-75 mb-2" (click)="onAddToCart()">Add to Cart</button>
        <button class="btn btn-info w-75 mb-2" (click)="onHandleBookInWishlist()" >{{onWishList? "Remove from Wishlist" : "Add to Wishlist"}}</button>
        <button class="btn btn-success w-75 mb-2" [routerLink]="['/edit', loadedBook.id]" >Edit Book</button>
        <button class="btn btn-danger w-75 mb-2" (click)="onDeleteBook()">Delete Book</button>
      </div>
    </div>
  </div>
</div>








<!-- <h4 class="text-center mt-4" *ngIf="loadingBook">Loading Book ...</h4>
<div *ngIf="loadedBook" class="d-flex justify-content-center m-5">
  <img class="image" src="{{ loadedBook.cover }}" />
  <div class="customCard card border-primary">
    <div class="card-header">
      <h1>{{ loadedBook.title }}</h1>
    </div>
    <div class="card-body text-primary">
      <h6 class="card-title">{{ loadedBook.author }}</h6>
      <p class="card-text">{{ loadedBook.price }}€</p>
      <hr>
      <div class="card-text">
        <p>{{loadedBook.summary}}</p>
        <p *ngIf="!loadedBook.summary">No summary available</p>

      </div>
      <hr>
      <div>
        <button
          class="btn btn-sm btn-success m-1"
          [routerLink]="['/edit', loadedBook.id]"
        >
          Edit Book
        </button>
        <button class="btn btn-sm btn-danger m-1" (click)="onDeleteBook()">
          Delete Book
        </button>

        <button class="btn btn-sm btn-primary m-1" (click)="onAddToCart()">
          Add Book to Cart
        </button>
      </div>
    </div>
  </div>
</div> -->
