<div class="bookContainer container  mt-5">
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 d-flex justify-content-center"
    >
      <img
        src="https://m.media-amazon.com/images/I/51CqbaJIiuL._SY346_.jpg"
        class="img-fluid text-center  mb-2"
      />
    </div>
    <div
      class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-6 d-flex flex-column justify-content-center mt-1"
    >
      <div class="mt-1 ">
        <div class="bookInfo">
          <h6 class="mb-0">Cinco horas con Mario</h6>
          <small class="lowLineHeight">by <a href="#">Author</a></small>
        </div>
        <hr>
        <div class="bookSummary mt-3">
          <p class="text-justify">
            Summary: Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Blanditiis delectus consectetur minus recusandae libero explicabo
            culpa nulla dicta temporibus, voluptatem nobis ullam perferendis
            voluptate laudantium laborum? Sit esse ipsam explicabo. Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Esse voluptatum vitae
            cupiditate fugiat perferendis veritatis sunt maiores numquam
            blanditiis perspiciatis omnis accusantium maxime labore corporis
            quasi, quos recusandae soluta iusto?
          </p>
        </div>
      </div>
    </div>
    <div
      class="buttonsMenu col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 d-flex flex-column justify-content-center bg-light "
    >
      <div class="text-center smallerText">
        <p class="text-danger mb-0 mt-2">5€</p>
        <p>Final product price</p>
        <h6 class="text-success">In Stock</h6>
        <p>Free delivery next Sunday. <a href="#">See details</a></p>
      </div>
      <hr>
      <div class="text-center">
        <button class="btn btn-primary w-75 mb-2">Add to Cart</button>
        <button class="btn btn-success w-75 mb-2">Edit Book</button>
        <button class="btn btn-danger w-75 mb-2">Delete Book</button>
      </div>
    </div>
  </div>
</div>
