img{
border-radius: 20px;
}

.bookContainer{
  width: 95%;
}

.bookInfo{
}

.lowLineHeight{
  line-height:.5em;
}

.smallerText{
  font-size: 0.9em !important;
}


.buttonsMenu{
  border-radius: 15px;
}


@media screen and (max-width: 576px) {
.bookInfo{

}
}

@media screen and (max-width: 768px) {
  .bookInfo{
  text-align: center;
  margin-top:1.5rem;
  }
  }
